@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #bfe1b4;
}

.btn-primary {
  background-color: #bfe1b4 !important;
  border-color: #39842a !important;
  border-width: 2px 2px 8px !important;
  border-radius: 14px !important;
  color: #4b4b4b !important;
}

.btn-primary:hover {
  border-width: 2px !important;
  margin-top: 22px !important;
}
